<!-- <form>
  <div class="form-group" *ngFor="let item of actor | keyvalue">
    <app-alta-actor [clave]="item.key"></app-alta-actor>
  </div>
  <button class="submit-btn" type="submit" >Submit</button>
</form> -->
<div class="row">
  <section class="get-in-touch col-sm-9">
    <h1 class="title">Alta actor</h1>
    <form class="contact-form row">
      <div *ngFor="let item of actor | keyvalue">

        <ng-container *ngIf="item.key !=='flag'">
          <div class="form-field col-lg-12">
            <app-alta-actor [pais]="paisDesdeTabla" class="app-alta-actor" [propId]="item.key"></app-alta-actor>
          </div>
        </ng-container>
      </div>
      <div class="form-field col-lg-12">
        <input class="submit-btn" value="Crear" (click)="CrearActor()">
        <!-- <input class="submit-btn" type="submit" value="Submit"> -->
      </div>
    </form>
  </section>

  <section class="paises col-sm-3">
    <app-tabla-paises (onEnviarItemHaciaPadre)="recibirItemDeHijo($event)"> </app-tabla-paises>
  </section>

</div>