<!-- <form>
  <div class="form-group" *ngFor="let item of actor | keyvalue">
    <app-alta-actor [clave]="item.key"></app-alta-actor>
  </div>
  <button class="submit-btn" type="submit" >Submit</button>
</form> -->
<div class="row">
  <section class="get-in-touch col-sm-9">
    <h1 class="title">Alta actor</h1>
    <form class="contact-form row">
          <div class="form-field col-lg-12">

            <input id="nombre" class="input-text js-input" type="text" required>
            <label class="label-contact-form" for="nombre">Ingrese nacionalidad</label>

            <input id="apellido" class="input-text js-input" type="text" required>
            <label class="label-contact-form" for="apellido">Ingrese nacionalidad</label>

            <input id="nacionalidad" class="input-text js-input" type="text" required>
            <label class="label-contact-form" for="nombre">Ingrese nacionalidad</label>

            <input id="nacionalidad" class="input-text js-input" type="text"  required>
            <label class="label-contact-form" for="nombre">Ingrese nacionalidad</label>

            <input id="nacionalidad" class="input-text js-input" type="text" value="{{pais?.name}}" required>
            <label class="label-contact-form" for="nombre">Ingrese nacionalidad</label>
          </div>
      <div class="form-field col-lg-12">
        <input class="submit-btn" value="Crear" (click)="CrearActor()">
        <!-- <input class="submit-btn" type="submit" value="Submit"> -->
      </div>
    </form>
  </section>

  <section class="paises col-sm-3">
    <app-tabla-paises (onEnviarItemHaciaPadre)="recibirItemDeHijo($event)"> </app-tabla-paises>
  </section>

</div>